@model List<string>
@{
    var type = ViewBag.Type as string;
    ViewData["Title"] = $"Choose a {type} training";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center gap-3 min-vh-100">
    <h2 class="mb-5 w-100">Choose sport for @type training</h2>
    @foreach(var sport in Model)
    {
        var action = type == "group" ? "SelectDate" : "SelectCoach";
        <a class="btn btn-lg color-main color-white w-50" asp-controller="Trainings" asp-action="@(action)" asp-route-type="@type" asp-route-sport="@sport">@sport</a>
    }
</div>
