@{
    ViewData["Title"] = "Choose a training type";
}

<div class="d-flex flex-column justify-content-center align-items-center gap-3 min-vh-100">
    <a class="btn btn-lg color-main color-white w-50" asp-controller="Trainings" asp-action="SelectSport" asp-route-type="individual">Individual trainings</a>
    <a class="btn btn-lg color-main color-white w-50" asp-controller="Trainings" asp-action="SelectSport" asp-route-type="group">Group trainings</a>
</div>