@{
    ViewData["Title"] = "Home Page";
}

<div class="h-100">
    <div class="d-flex justify-content-between h-100">
        <div class="w-50 p-0">
            <img class="img-fluid w-100 h-100 object-fit-cover" src="~/images/Fitness.jpg" alt="Fitness picture" />
        </div>
        <div class="w-50 d-flex flex-column justify-content-center align-items-center ps-5">
            <h1 class="mb-4">Welcome to SportCentrum!</h1>
            <span class="mb-4">Start your training right now!</span>
            <a class="btn btn-lg color-white color-main" href="/Trainings/Select">Choose training</a>
        </div>
    </div>
</div>
