html {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.color-main{
    background-color: darkturquoise;
}

.color-white {
    color: white;
}

.object-fit-cover {
    object-fit: cover;
}
 
.border-color-main {
    border-color: darkturquoise;
}

.margin-t {
    margin-top: 6rem;
}

.avatar-h {
    height: 14em;
}

.w-30 {
    width: 30%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}